:root{
    --body: #96d3c1;
    --primary: #412114;
    --secondary: #3d6f83;
    --light: #eff0e1;
}

body{
    background-color: var(--body)
}

header{
    background-color: var(--secondary);
    padding: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: var(--light);
    border-radius: 10px;
    /* margin: 10px; */
}

h1{
    text-decoration: underline;
}

section{
    background-color: var(--primary);
    width: 30vw;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2{
    color: var(--light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}

section button{
    background-color: var(--light);
    border-radius: 10px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    border: none;
    font-weight: bold;
    color: var(--primary);
}

section button:hover{
    background-color: var(--body);
}

section button:active{
    background-color: var(--secondary);
}

section p {
    color: var(--light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

div{
    display: flex;
    flex-wrap: wrap;
}